4.25 (too early) is just suggested

email from IANA:

> In Section 14, the document uses unregistered CoAP Response Code 4.25
> without describing it as a suggested value. We would recommend either
> noting that this hasn't been assigned yet or, if it's appropriate to
> do so, asking the chairs to request an early allocation using the
> procedure described in Section 3 of RFC 7120.

There reason we picked it in the first place was to signal the semantic equivalence with HTTP 425.

At present, 4.25 sits nicely into the [4.23-4.28 | Unassigned](https://www.iana.org/assignments/core-parameters/core-parameters.xhtml#response-codes) block.  I'd bank on the relatively low demand for CoAP response codes to avoid the early allocation, hoping 4.25 will still be available by the time the document is done.

So, as Amanda says, we should slightly change the 0-rtt section text to say _"this is just a suggested value that hasn't been assigned yet"_
