DM review: Different CAs

````
   and notAfter fields, as described in Section 4.1.2.5 of [RFC5280].
   Values MUST be expressed in Greenwich Mean Time (Zulu) and MUST
   include seconds even where the number of seconds is zero.

MGLT: I think it would be good to mention different CA can be involved and
CMP can be used to switch from the CA of the IDevID to the one of the
LDevID.
````

https://mailarchive.ietf.org/arch/msg/uta/ZYm1sEzH4W_YCgBSDAYlFPPzwx8/


Switching from one CA to another one is not only a feature of CMP. Consider BRSKI, for example, it was designed to allow the end device to obtain certificates from the local network.